---
- name: Configuração do Desktop
  hosts: localhost
  connection: local               # Necessário para que o Ansible não tente se comunicar com o host via SSH
  gather_facts: no                # Evita que o Ansible colete todos os dados da máquina antes de iniciar a execução das tarefas
  roles: 
    - repository                  # Irá executar o main.yml do diretório roles/repository/tasks 
    - install                     # Irá executar o main.yml do diretório roles/install/tasks 
    - configuration               # Irá executar o main.yml do diretório roles/configuration/tasks 
...