---
- name: Configuração do Desktop
  hosts: localhost
  connection: local               # Necessário para que o Ansible não tente se comunicar com o host via SSH  
  roles: 
    - {role: 'repository', tags: 'repo'}                  # Irá executar o main.yml do diretório roles/repository/tasks 
    - {role: 'install', tags: 'install'}                  # Irá executar o main.yml do diretório roles/install/tasks 
    - {role: 'configuration', tags: 'config'}             # Irá executar o main.yml do diretório roles/configuration/tasks 
...