---
- name: Configurando o terminal padrão para o Tilix
  become: yes
  community.general.alternatives:
    name: x-terminal-emulator
    path: /usr/bin/tilix.wrapper


- name: Alterando o Shell padrão para o ZSH
  become: yes
  user: 
    name: '{{ ansible_user_id }}'
    shell: /bin/zsh 



- name: Changing Default ZSH Theme to Agnoster
  lineinfile:
    path: /home/{{ ansible_user_id }}/.zshrc
    regexp: '^ZSH_THEME='
    line: 'ZSH_THEME="agnoster"'
- name: Creating ZSH Completion folder
  file:
    path: /home/{{ ansible_user_id }}/.oh-my-zsh/completions
    state: directory
    mode: 0755
- name: Adding autoload to compinit
  lineinfile:
    path: /home/{{ ansible_user_id }}/.zshrc
    line: 'autoload -U compinit && compinit'
    state: present


...