---
- name: Installing Packages
  become: true
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: true
  loop: "{{ packages }}"  
  
- block: 
  - name: Install Brave Key
    become: true
    apt_key:
      url: 'https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg'
      state: present
  - name: Install Brave Repository
    become: true
    apt_repository:
      repo: 'deb [arch=amd64] https://brave-browser-apt-release.s3.brave.com/ stable main'
      state: present
      filename: brave
  - name: Install Brave Browser
    become: true
    apt:
      name: brave-browser

- block:
  - name: Install Google Key
    become: true
    apt_key: 
      url: 'https://dl.google.com/linux/linux_signing_key.pub'
      state: present
  - name: Install Google Repository
    become: true
    apt_repository:
      repo: 'deb [arch=amd64] https://dl.google.com/linux/chrome/deb/ stable main'
      state: present
      filename: google-chrome
  - name: Install Google Chrome
    become: true
    apt:
      name: google-chrome-stable

- block:
  - name: Install KeePassXC Repository
    become: true
    apt_repository:
      repo: 'ppa:phoerious/keepassxc'
      state: present
      filename: keepassxc
  - name: Install KeePassXC
    become: true
    apt: 
      name: keepassxc

- block:
  - name: Install Microsoft Edge Key
    become: true
    apt_key:
      url: 'https://packages.microsoft.com/keys/microsoft.asc'
      state: present
  - name: Install Microsoft Edge Repository
    become: true
    apt_repository:
      repo: 'deb [arch=amd64] https://packages.microsoft.com/repos/edge/ stable main'
      filename: microsoft-edge
  - name: Install Microsoft Edge
    become: true
    apt:
      name: microsoft-edge-stable

- block:
  - name: Install Microsoft Teams Key
    become: true
    apt_key: 
      url: 'https://packages.microsoft.com/keys/microsoft.asc'
      state: present
  - name: Install Microsoft Teams Repository
    become: true
    apt_repository: 
      repo: 'deb [arch=amd64] https://packages.microsoft.com/repos/ms-teams stable main'
      filename: teams
  - name: Install Microsoft Teams 
    become: true
    apt: 
      name: teams

- block:
  - name: Install Vagrant Key
    become: true
    apt_key:
      url: 'https://apt.releases.hashicorp.com/gpg'
      state: present
  - name: Install Vagrant Repository
    apt_repository:
      repo: 'deb [arch=amd64] https://apt.releases.hashicorp.com focal main'
      state: present
      filename: vagrant
  - name: Install Vagrant 
    become: true
    apt: 
      name: vagrant

- block:
  - name: Install Visual Code Key
    become: true
    apt_key:
      url: 'https://packages.microsoft.com/keys/microsoft.asc'
      state: present
  - name: Install Visual Code Repository
    become: true
    apt_repository:
      repo: 'deb [arch=amd64] https://packages.microsoft.com/repos/code stable main'
      state: present
      filename: vscode
  - name: Install Visual Code 
    become: true
    apt:
      name: code
  - name: Install Virtual Studio Code Extensions      # Não é recomendado realizar a elevação de privilégio para instalação das extensões
    shell:
      cmd: code --install-extension '{{ item }}' 
    loop: '{{ vscode_extensions }}'

- block:
  - name: Install Dropbox Key
    become: true
    apt_key: 
      keyserver: 'pgp.mit.edu'
      id: 1C61A2656FB57B7E4DE0F4C1FC918B335044912E
  - name: Install Dropbox Repository
    become: true
    ansible.builtin.apt_repository: 
      repo: deb [arch=amd64] https://linux.dropbox.com/ubuntu disco main
      state: present
      filename: dropbox
  - name: Install Dropbox
    become: true
    apt:
      name: dropbox
  
  - name: Upgrade the OS Packages
    apt:
      upgrade: yes

  - name: Remove dependencies that are no longer required
    apt:
      autoremove: yes
...
