---
- name: Installing Packages
  become: yes
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop: "{{ packages }}"  
  
 
- name: Install Brave Browser
  become: yes
  apt:
    name: brave-browser
    update_cache: no


- name: Install Dell Drivers
  become: yes
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: no
  loop: "{{ dell_drivers }}"


- name: Install Dropbox
  become: yes
  apt:
    name: dropbox
    update_cache: no


- name: Install Google Chrome
  become: yes
  apt:
    name: google-chrome-stable
    update_cache: no


- name: Install KeePassXC
  become: yes
  apt: 
    name: keepassxc
    update_cache: no


- name: Install Microsoft Edge
  become: yes
  apt:
    name: microsoft-edge-stable
    update_cache: no


- name: Install Microsoft Teams 
  become: yes
  apt: 
    name: teams
    update_cache: no


- name: Install Vagrant 
  become: yes
  apt: 
    name: vagrant
    update_cache: no


- name: Install Visual Code 
  become: yes
  apt:
    name: code
    update_cache: no


- name: Install Visual Studio Code Extensions      # Não é recomendado realizar a elevação de privilégio para instalação das extensões
  shell:
    cmd: code --install-extension '{{ item }}' 
  loop: '{{ vscode_extensions }}'


- name: Verify if Oh-My-zsh is installed
  command: test -d /home/{{ ansible_user_id }}/.oh-my-zsh
  register: ohmyzsh                                # Registra o Return Code do comando anterior na variável ohmyzsh
  ignore_errors: true

- name: Install Oh My ZSH
  shell:
    cmd: sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  when: ohmyzsh.rc != 0                           # Executa o cmd quando o Return Code for diferente de 0


- name: Upgrade the OS Packages
  become: yes
  apt:
    upgrade: 'yes'


- name: Remove dependencies that are no longer required
  become: yes
  apt:
    autoremove: yes
  
...
