---
- name: Installing Programs
  become: yes
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop: "{{ packages }}"  
  
- block: 
  - name: Install Brave Key
    become: yes
    apt_key:
      url: 'https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg'
      state: present
  - name: Install Brave Repository
    become: yes
    apt_repository:
      repo: 'deb [arch=amd64] https://brave-browser-apt-release.s3.brave.com/ stable main'
      state: present
      filename: brave
  - name: Install Brave Browser
    become: yes
    apt:
      update_cache: yes
      name: brave-browser

  - block:
    - name: Install Google Key
      become: yes
      apt_key: 
        url: 'https://dl.google.com/linux/linux_signing_key.pub'
        state: present
    - name: Install Google Repository
      become: yes
      apt_repository:
        repo: 'deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main'
        state: present
        filename: google-chrome
    - name: Install Google Chrome
      become: yes
      apt:
        name: google-chrome-stable

- block:
  - name: Install KeePassXC Repository
    become: yes
    apt_repository:
      repo: 'ppa:phoerious/keepassxc'
      state: present
      filename: keepassxc
  - name: Install KeePassXC
    become: yes
    apt: 
      name: keepassxc
      update_cache: yes

- block:
  - name: Install Microsoft Edge Key
    become: yes
    apt_key:
      url: 'https://packages.microsoft.com/keys/microsoft.asc'
      state: present
  - name: Install Microsoft Edge Repository
    become: yes
    apt_repository:
      repo: 'deb [arch=amd64] http://packages.microsoft.com/repos/edge/ stable main'
      filename: microsoft_edge
  - name: Install Microsoft Edge
    become: yes
    apt:
      name: microsoft-edge-stable
      update_cache: yes

- block:
  - name: Install Microsoft Teams Key
    become: yes
    apt_key: 
      url: 'https://packages.microsoft.com/keys/microsoft.asc'
      state: present
  - name: Install Microsoft Teams Repository
    become: yes
    apt_repository: 
      repo: 'deb [arch=amd64] https://packages.microsoft.com/repos/ms-teams stable main'
      filename: microsoft_teams
  - name: Install Microsoft Teams 
    become: yes
    apt: 
      name: teams
      update_cache: yes


...
